In [ ]:
# connect with google colab

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# import library

import pandas as pd
import numpy as np
import plotly.express as px

pd.set_option('display.max_colwidth', None)

In [ ]:
# read csv

df = pd.read_csv('/content/drive/MyDrive/DataSci/project/myanimelist/api/myanimelist3.csv')

In [ ]:
df.head()

,id,url,img,title,title_english,type,episode,status,aired,duration,rating,score,score_by,member,favorite,studio,genre
0,1,https://myanimelist.net/anime/1/Cowboy_Bebop,https://cdn.myanimelist.net/images/anime/4/19644.jpg,Cowboy Bebop,Cowboy Bebop,TV,26.0,Finished Airing,"Apr 3, 1998 to Apr 24, 1999",24 min per ep,R - 17+ (violence & profanity),8.75,888070.0,1723487,76445,Sunrise,"['Action', 'Award Winning', 'Sci-Fi']"
1,5,https://myanimelist.net/anime/5/Cowboy_Bebop__Tengoku_no_Tobira,https://cdn.myanimelist.net/images/anime/1439/93480.jpg,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,Movie,1.0,Finished Airing,"Sep 1, 2001",1 hr 55 min,R - 17+ (violence & profanity),8.38,201780.0,352537,1395,Bones,"['Action', 'Sci-Fi']"
2,6,https://myanimelist.net/anime/6/Trigun,https://cdn.myanimelist.net/images/anime/7/20310.jpg,Trigun,Trigun,TV,26.0,Finished Airing,"Apr 1, 1998 to Sep 30, 1998",24 min per ep,PG-13 - Teens 13 or older,8.22,345289.0,702969,14333,Madhouse,"['Action', 'Adventure', 'Sci-Fi']"
3,7,https://myanimelist.net/anime/7/Witch_Hunter_Robin,https://cdn.myanimelist.net/images/anime/10/19969.jpg,Witch Hunter Robin,Witch Hunter Robin,TV,26.0,Finished Airing,"Jul 3, 2002 to Dec 25, 2002",25 min per ep,PG-13 - Teens 13 or older,7.25,42363.0,109927,604,Sunrise,"['Action', 'Drama', 'Mystery', 'Supernatural']"
4,8,https://myanimelist.net/anime/8/Bouken_Ou_Beet,https://cdn.myanimelist.net/images/anime/7/21569.jpg,Bouken Ou Beet,Beet the Vandel Buster,TV,52.0,Finished Airing,"Sep 30, 2004 to Sep 29, 2005",23 min per ep,PG - Children,6.94,6347.0,14793,14,Toei Animation,"['Adventure', 'Fantasy', 'Supernatural']"

## Data preparation

### Data cleansing

- Remove duplicated
- Missing value
    - english title = replace with default title
    - type = replace with 'unknown'
    - rating = replace with 'unknown'
    - rank = replace 0 with None
    - studio = 'unknown'
    - genre = 'unknown'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24391 entries, 0 to 24390
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             24391 non-null  int64
 1   url            24391 non-null  object
 2   img            24391 non-null  object
 3   title          24391 non-null  object
 4   title_english  10065 non-null  object
 5   type           24310 non-null  object
 6   episode        23632 non-null  float64
 7   status         24391 non-null  object
 8   aired          24391 non-null  object
 9   duration       24391 non-null  object
 10  rating         23590 non-null  object
 11  score          15185 non-null  float64
 12  score_by       15185 non-null  float64
 13  member         24391 non-null  int64
 14  favorite       24391 non-null  int64
 15  studio         13911 non-null  object
 16  genre          24391 non-null  object
dtypes: float64(3), int64(3), object(11)
memory usage: 3.2+ MB

In [ ]:
df.describe()

,id,episode,score,score_by,member,favorite
count,24391.000000,23632.000000,15185.000000,1.518500e+04,2.439100e+04,24391.000000
mean,29259.659506,14.979223,6.423604,2.959668e+04,3.623481e+04,422.618835
std,17780.764292,48.744535,0.907150,1.139289e+05,1.523489e+05,4263.693941
min,1.000000,1.000000,1.850000,1.000000e+02,0.000000e+00,0.000000
25%,10211.500000,1.000000,5.800000,4.000000e+02,1.950000e+02,0.000000
50%,34201.000000,2.000000,6.430000,1.828000e+03,1.041000e+03,1.000000
75%,44684.000000,13.000000,7.080000,1.102300e+04,9.208500e+03,17.000000
max,54438.000000,3057.000000,9.110000,2.591174e+06,3.643950e+06,213149.000000

In [ ]:
# fill missing english title with title
df['title_english'].fillna(df['title'], inplace = True)

In [ ]:
# check duplicated value
duplicated_title = df['title'].duplicated().sum()
duplicated_title_english = df['title_english'].duplicated().sum()
print(f'duplicated title = {duplicated_title}')
print(f'duplicated english title = {duplicated_title_english}')

duplicated title = 81
duplicated english title = 312

In [ ]:
# check duplicated value
df.loc[df[['title_english']].duplicated()]['title_english'].unique()

array(['Tenchi Muyo! Ryo-Ohki', 'Strawberry 100%', 'Angel Tales',
       'If I See You in My Dreams', 'Sorcerer Hunters', 'Jinki: Extend',
       'Vampire Princess Miyu', 'Galaxy Express 999', 'Kanon',
       'Girl Meets Girl', 'Babel II', 'Sasami Magical Girls Club',
       'Mermaid Forest', 'Captain Tsubasa',
       'Mobile Suit Gundam Wing: Endless Waltz', 'Doraemon',
       'Blue Legend Shoot!', 'Digimon: The Movie', 'Gatchaman', 'Saiyuki',
       'IGPX: Immortal Grand Prix', 'Magical Kanan', 'Zombie-Loan',
       'Maria Watches Over Us', 'Maria Watches Over Us: Printemps',
       'Spirit Warrior', "Charge!! Men's Private School",
       "Grimm's Fairy Tale Classics", 'Space Warrior Baldios', 'Moetan',
       'Outlaw Star', 'Cyborg 009', 'Little Women',
       'Blue Comet SPT Layzner', 'The Guyver: Bio-Booster Armor',
       'Keep it a Secret from Maria-sama',
       "Queen's Blade: The Exiled Virgin", 'Naughty College School Girls',
       'Jungle Emperor Leo', 'Time of Eve', 'Linebarrels of Iron',
       "Arabian Nights: Sinbad's Adventures", 'Spooky Kitaro',
       'Hell Teacher Nube', 'Bonobono', 'Big Windup!', 'Marine Boy',
       'Digimon Fusion', 'Haiyoru! Nyaruani: Remember My Mr. Lovecraft',
       'Ghost in the Shell: Stand Alone Complex: Tachikomatic Days',
       'Hunter x Hunter', 'Nura: Rise of the Yokai Clan - Demon Capital',
       'Thermae Romae', 'Tumulus Gal Coffy', 'Paper Rabbit Rope',
       'The Ambition of Oda Nobuna', 'Karneval',
       'Space Pirate Captain Harlock', 'DD Fist of the North Star',
       'Wish Upon the Pleiades', "Nanana's Buried Treasure",
       'Broken Blade', 'Gestalt', 'World Fool News', 'Vampiyan Kids',
       'Bernard', 'Aldnoah.Zero', 'Nisekoi: False Love',
       'The Heroic Legend of Arslan', 'Flower', 'Spotlight', 'Shadow',
       'The Tree of Courage', 'Swimming', 'Licensed by Royalty',
       'Mikagura School Suite', 'Gatchaman Crowds Insight',
       'Spellbound! Magical Princess Lilpri', 'Wake Up',
       'Mobile Suit Gundam-san', 'Saving Mother', 'Days',
       'The Little Match Girl', 'Samurai',
       'Animated Classics of Japanese Literature',
       'Tanaka-kun is Always Listless', 'Little Witch Academia',
       'Fight! Kickers', 'Spy Penguin', 'Wonder',
       'The Adventures of the Little Prince', 'Black Cat Detective',
       'Balala the Faries: Over the Rainbow', 'SENGOKUCHOJYUGIGA',
       'The Sparrow with the Slit Tongue', 'Cerberus', 'The Snow Queen',
       'Chiruran 1/2', 'Meow Meow Japanese History',
       'THE IDOLM@STER CINDERELLA GIRLS Theater', 'Love', 'Hinamatsuri',
       'Drifters',
       'THE IDOLM@STER CINDERELLA GIRLS Theater (Web) 2nd Season',
       'PEACE MAKER KUROGANE – Belief & Friend', 'Golden Time',
       "Hozuki's Coolheadedness 2", 'Cells at Work!', 'Dororo', 'Present',
       'Beyond the Worlds', "Okko's Inn", 'Caligula', 'Ice Kuritaro',
       'Maerchen Maedchen', 'Graduation', 'Pingu in the City',
       'Sleeping Beauty', 'Crystal Sky of Yesterday', 'Timing',
       'The Relative Worlds', 'Beat in Love', 'Power Battle Watch Car',
       'Virtual-san Looking', 'Zephyr', 'Blade of the Immortal',
       'Hero Mask', "Beanie's Daily", 'Battle of Clay', 'Shadowverse',
       'Rakshasa Street', 'GUNDAM BUILD DIVERS Re:RISE',
       'Phantasy Star Online 2: Episode Oracle', 'Spirit Guardians',
       'The Magnificent Kotobuki', 'The Westward', 'Pompo: The Cinéphile',
       'Rainbow', 'Reunion', 'Promise', 'Kaibutsu-kun', 'Ling Cage',
       'Kung Fu Bunny', 'Lonely Hero', 'Black Cat', 'Kite',
       'Dear My Patron', 'Legend of Exorcism',
       'Magical Legend: Rise to Immortality', 'The Ugly Duckling', 'Tofu',
       'Monster', 'Rubi', 'Happy City', "Girls' Frontline",
       'Mask Masters', 'Happy Forest', 'Du Dang Man', 'Jungle Survival',
       'Comet', 'Are You Ok', 'GG Bean',
       'Little Nemo: Adventures in Slumberland Pilot', 'Shelter',
       'I, Tsushima',
       "Miss Kobayashi's Dragon Maid S Short Animation Series",
       'Thousand Autumns', 'Swallowed Star', 'Hikari~be my light',
       'Filly Funtasia', 'The Starry Night', 'The Mirror: Twin Cities',
       "Heaven Official's Blessing", "What's Wrong with My Big Brother",
       'No Doubt In Us', 'Fog Hill of Five Elements', 'Love Love Campus',
       'The Island of Siliang', 'Urusei Yatsura',
       'The Irregular at Magic High School: Reminiscence Arc',
       'Establishment in Life', 'Qi Refining for 3000 Years',
       "Dead Dead Demon's Dededededestruction", 'Mermaid',
       'Everlasting God Of Sword', 'Birth', 'Fire Force Season 3',
       'Me And My Winter Games', 'San Jie Wuliu',
       "KonoSuba: God's Blessing on This Wonderful World! 3", 'K',
       'Magi: Adventure of Sinbad', 'One Piece', 'Formula-X',
       'Monster (Music)', 'Serenade',
       "The Reason Why Raeliana Ended up at the Duke's Mansion",
       'Is It Wrong to Try to Pick Up Girls in a Dungeon? IV',
       'Chameleon', 'Starting Over', 'Da Shen Xian', 'Usagi',
       'Super Dragon Ball Heroes Ultra God Mission',
       'Spare Me, Great Lord! 2nd Season', 'Ten Thousand Worlds',
       'Another World', 'Dragon Raja', 'Orange',
       "Arifureta: From Commonplace to World's Strongest",
       'Mechanical Arms', 'Genshin Impact',
       'A Herbivorous Dragon of 5,000 Years Gets Unfairly Villainized',
       'Tomb of Fallen Gods', 'The Peak of True Martial Arts', 'Arcane',
       'All Saints Street', 'Kagejitsu!', 'Melt',
       'Campfire Cooking in Another World with My Absurd Skill',
       'God Troubles Me', 'Counterattack Through Pregnancy',
       'The Tale of The Spirit Stone', 'Judge',
       'Avatar: The Last Airbender', "The Ancient Magus' Bride",
       'That Time I Got Reincarnated as a Slime Season 3', 'False Memory',
       'Mahjong Soul Pon☆ Special',
       'Saving 80,000 Gold in Another World for My Retirement',
       'Bleach: Thousand-Year Blood War', 'Unnamed Memory',
       "Don't Give Up!", 'Castlevania',
       "I've Been Working on the Railroad", 'Sand Land', 'Blue Exorcist',
       'An Enormous Delta', 'Tom and Jerry', 'Toilet-Bound Hanako-kun',
       'White Snow', "Dota : Dragon's Blood",
       'Tenchi Muyou! GXP: Paradise Shidou-hen', 'Satanika', 'Fight Song',
       'Taste of Death',
       'Honkai Impact 3rd Golden Courtyard: New Year Wishes in Winter',
       'Road without Road', 'Jigoku Metamoru',
       'The Legend of Sword Domain 2nd Season', 'Chinese Blue', 'INA',
       'Nights with a Cat',
       'Shinmai Renkinjutsushi no Tenpo Keiei Mini Anime: Onsen',
       'Day by Day', 'Vampire in the Garden', 'Melody',
       "Lee's Detective Agency: A Day in Lungmen", 'Rude Lose Dance',
       'The Dog and The Boy', 'RUDE LOSE DANCE', 'Berserk', 'Shock!',
       'Love Trap Muchu',
       'Reborn to Master the Blade: From Hero-King to Extraordinary Squire ♀',
       'Dota 2 Blood Dragon', 'Avaricious Heroine',
       'Pokemon: Chanchiho Challenge Channel'], dtype=object)

In [ ]:
# filter duplicated value
df = df.loc[~((df['title'].duplicated()) | (df['title_english'].duplicated()))]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24063 entries, 0 to 24390
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             24063 non-null  int64
 1   url            24063 non-null  object
 2   img            24063 non-null  object
 3   title          24063 non-null  object
 4   title_english  24063 non-null  object
 5   type           23994 non-null  object
 6   episode        23361 non-null  float64
 7   status         24063 non-null  object
 8   aired          24063 non-null  object
 9   duration       24063 non-null  object
 10  rating         23307 non-null  object
 11  score          15026 non-null  float64
 12  score_by       15026 non-null  float64
 13  member         24063 non-null  int64
 14  favorite       24063 non-null  int64
 15  studio         13752 non-null  object
 16  genre          24063 non-null  object
dtypes: float64(3), int64(3), object(11)
memory usage: 3.3+ MB

In [ ]:
df.nunique()

id               24063
url              24063
img              23824
title            24063
title_english    24063
type                 6
episode            247
status               3
aired            14750
duration           339
rating               6
score              556
score_by          8068
member           10734
favorite          1731
studio             921
genre             1011
dtype: int64

In [ ]:
df.loc[df[['title_english']].duplicated()]['title_english'].unique()

array([], dtype=object)

In [ ]:
df['type'].value_counts()

TV         7393
Movie      4246
OVA        4051
ONA        3403
Special    2514
Music      2387
Name: type, dtype: int64

In [ ]:
df['status'].value_counts()

Finished Airing     23135
Not yet aired         557
Currently Airing      371
Name: status, dtype: int64

In [ ]:
df['rating'].value_counts()

PG-13 - Teens 13 or older         8147
G - All Ages                      7365
PG - Children                     3890
Rx - Hentai                       1453
R - 17+ (violence & profanity)    1360
R+ - Mild Nudity                  1092
Name: rating, dtype: int64

In [ ]:
# replace missing value

df['type'] = df['type'].fillna('unknown')
df['rating'] = df['rating'].fillna('unknown')
df['studio'] = df['studio'].fillna('unknown')
df['genre'] = df['genre'].fillna('unknown')

<ipython-input-71-58ff2e0c8377>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['type'] = df['type'].fillna('unknown')
<ipython-input-71-58ff2e0c8377>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rating'] = df['rating'].fillna('unknown')
<ipython-input-71-58ff2e0c8377>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['studio'] = df['studio'].fillna('unknown')
<ipython-input-71-58ff2e0c8377>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genre'] = df['genre'].fillna('unknown')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24063 entries, 0 to 24390
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             24063 non-null  int64
 1   url            24063 non-null  object
 2   img            24063 non-null  object
 3   title          24063 non-null  object
 4   title_english  24063 non-null  object
 5   type           24063 non-null  object
 6   episode        23361 non-null  float64
 7   status         24063 non-null  object
 8   aired          24063 non-null  object
 9   duration       24063 non-null  object
 10  rating         24063 non-null  object
 11  score          15026 non-null  float64
 12  score_by       15026 non-null  float64
 13  member         24063 non-null  int64
 14  favorite       24063 non-null  int64
 15  studio         24063 non-null  object
 16  genre          24063 non-null  object
dtypes: float64(3), int64(3), object(11)
memory usage: 3.3+ MB

## data validation

- img have duplicated value due to no image url replace by website logo url
- aired and duration column contain multiple format of data in text
    - use len to find number of pattern and create function to extract year from aired column and minute in duration column

In [ ]:
df.nunique()

id               24063
url              24063
img              23824
title            24063
title_english    24063
type                 7
episode            247
status               3
aired            14750
duration           339
rating               7
score              556
score_by          8068
member           10734
favorite          1731
studio             922
genre             1011
dtype: int64

aired column = date of air time

- find length of string for finding the patern of each range
- every first 4 length of string are the year that anime aired so we create a column to extract the first year from this column


- string length 26, 27, 28,
    - contain started date and end date
    - Sep 30, 2004 to Sep 29, 2005
    - length diffenrence due to date format = 1 or 30
    
- string length 23, 24
    - Mar 1, 2008 to Apr 2008
    
- string length 20
    - multiple format
    - '2005 to Feb 26, 2005'
    - 'Feb 2005 to Nov 2005'
    - 'Feb 21, 1997 to 2002'

- string length 16, 17
    - don't know end date
    - Oct 20, 1999 to ?

- string length 13
    - Jan 1917 to ?'
    - not available
    
- string length 11, 12
    - contain only start date
    - Sep 1, 2001

- string length 8
    - contain year and month
    - Jun 1984

- string length 9
    - 2006 to ?

- string length 4
    - contain only year
    - 1997

In [ ]:
df['aired']

0         Apr 3, 1998 to Apr 24, 1999
1                         Sep 1, 2001
2         Apr 1, 1998 to Sep 30, 1998
3         Jul 3, 2002 to Dec 25, 2002
4        Sep 30, 2004 to Sep 29, 2005
                     ...
24385                   Not available
24386                    Feb 10, 2023
24388                    Jan 17, 2023
24389               Feb 18, 2023 to ?
24390               Apr 14, 2023 to ?
Name: aired, Length: 24063, dtype: object

In [ ]:
(df['aired'] == 'Not available').sum()

1016

In [ ]:
# find the unique length of string to see all patern
df['aired'].apply(lambda x : len(x)).unique()

array([27, 11, 28, 26, 17, 12, 16, 24,  4,  8, 20, 23, 19, 13,  9])

In [ ]:
# finding a pattern
df['aired'].loc[df['aired'].apply(lambda x : len(x)) == 28]

4        Sep 30, 2004 to Sep 29, 2005
6        Apr 15, 2005 to Sep 27, 2005
7        Sep 11, 2002 to Sep 10, 2003
8        Apr 17, 2004 to Feb 18, 2006
12       Oct 10, 2001 to Mar 23, 2005
                     ...
24210    Dec 21, 2007 to Jan 25, 2008
24235    Sep 25, 2018 to Oct 24, 2018
24239    Jul 16, 2006 to Jul 17, 2006
24252    Sep 24, 2020 to Apr 29, 2021
24306    Feb 12, 2023 to Feb 26, 2023
Name: aired, Length: 3900, dtype: object

In [ ]:
# check unique value of each pattern
df['aired'].loc[df['aired'].apply(lambda x : len(x)) == 28].unique()

array(['Sep 30, 2004 to Sep 29, 2005', 'Apr 15, 2005 to Sep 27, 2005',
       'Sep 11, 2002 to Sep 10, 2003', ...,
       'Jul 16, 2006 to Jul 17, 2006', 'Sep 24, 2020 to Apr 29, 2021',
       'Feb 12, 2023 to Feb 26, 2023'], dtype=object)

In [ ]:
# create function to find unique value of each pattern

def find_unique_pattern(column):
    for i in np.sort(df[column].apply(lambda x : len(x)).unique()) :
        result = df[column].loc[df[column].apply(lambda x : len(x)) == i].reset_index(drop=True)[0]
        print(f'length of string = {i} , {column} = {result}')

In [ ]:
find_unique_pattern('aired')

length of string = 4 , aired = 2003
length of string = 8 , aired = Jun 1984
length of string = 9 , aired = 2006 to ?
length of string = 11 , aired = Sep 1, 2001
length of string = 12 , aired = Mar 15, 1997
length of string = 13 , aired = Jan 1917 to ?
length of string = 16 , aired = Jan 8, 1996 to ?
length of string = 17 , aired = Oct 20, 1999 to ?
length of string = 19 , aired = Mar 1, 2008 to 2013
length of string = 20 , aired = 2005 to Feb 26, 2005
length of string = 23 , aired = Mar 1, 2008 to Apr 2008
length of string = 24 , aired = Apr 1994 to Jan 27, 1995
length of string = 26 , aired = Oct 3, 2002 to Feb 8, 2007
length of string = 27 , aired = Apr 3, 1998 to Apr 24, 1999
length of string = 28 , aired = Sep 30, 2004 to Sep 29, 2005

In [ ]:
# create find first year function to extract firt 4 number from aired column which mean the yaer that anime aired

def find_first_year(string):
    words = string.split()
    for word in words:
        if word.isdigit() and len(word) == 4:
            return word

In [ ]:
df['aired'].loc[df['aired'].apply(lambda x : len(x)) == 20].apply(lambda x : find_first_year(x)).unique()

array(['2005', '2001', '1999', '1997', '2006', '2002', '1975', '2009',
       '2010', '2011', '2004', '1984', '1985', '2000', '1990', '2008',
       '2007', '2003', '2014', '1992', '2015', '1991', '1986', '2012',
       '2013', '2016', '2018', '2017', '2019', '2020', '2021', '2023',
       '2022'], dtype=object)

In [ ]:
df['aired'] = df['aired'].apply(lambda x : find_first_year(x))

<ipython-input-83-2e4865ba51fe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['aired'] = df['aired'].apply(lambda x : find_first_year(x))

In [ ]:
df['aired'].unique()

array(['1998', '2001', '2002', '2004', '2005', '1999', '2003', '1995',
       '1997', '1996', '1988', '1993', '2000', '1979', '1989', '1991',
       '1985', '1986', '1994', '1992', '1990', '1978', '1973', '2006',
       '1987', '1984', '1982', '1977', '1983', '1980', '1976', '1968',
       '1981', '2007', '1971', '1967', '1975', '1962', '1965', '1969',
       '1974', '1964', '2008', '1972', '1970', '1966', '1963', '1945',
       '2009', '2012', '2021', '1933', '1929', '1943', '2010', '1931',
       '1930', '1932', '1934', '1936', '1928', '1960', '1958', '2011',
       '1959', '1947', '1917', '1935', '1938', '1939', '1941', '1942',
       '1948', '1950', '1957', '1961', '1918', '1924', '1925', '1926',
       '1927', '1937', '1940', '1944', '1946', '1949', '1951', '1952',
       '1953', '1954', '1955', '1956', '2016', '2013', '2019', '2018',
       '2014', '2015', '2017', None, '2022', '2020', '2023', '2024',
       '2025'], dtype=object)

duration

- string length 17, 18
    - 1 hr 17 min per ep

- string length = 13
    - 2 format
    - 24 min per ep
    - 44 sec per ep
    
- string length = 12
    - 2 format
    - 4 min per ep
    - 6 sec per ep
    
- string length = 11,10
    - 1 hr 55 min
    
- string length = 7
    - unknown

- string length = 6
    - 2 format
    - 24 min
    - 49 sec
    
- string length = 5
    - 3 format
    - 24 hr
    - 6 min
    - 7 sec

In [ ]:
df['duration']

0        24 min per ep
1          1 hr 55 min
2        24 min per ep
3        25 min per ep
4        23 min per ep
             ...
24385          Unknown
24386            5 min
24388            2 min
24389          Unknown
24390           20 min
Name: duration, Length: 24063, dtype: object

In [ ]:
# check pattern
np.sort(df['duration'].apply(lambda x : len(x)).unique())

array([ 4,  5,  6,  7, 10, 11, 12, 13, 17, 18])

In [ ]:
df['duration'].loc[df['duration'].apply(lambda x : len(x)) == 11].unique()

array(['1 hr 55 min', '1 hr 44 min', '1 hr 26 min', '1 hr 22 min',
       '1 hr 31 min', '1 hr 45 min', '1 hr 59 min', '1 hr 37 min',
       '2 hr 13 min', '1 hr 23 min', '1 hr 19 min', '1 hr 30 min',
       '1 hr 46 min', '1 hr 24 min', '1 hr 41 min', '1 hr 21 min',
       '1 hr 43 min', '1 hr 33 min', '1 hr 14 min', '1 hr 27 min',
       '1 hr 39 min', '1 hr 38 min', '1 hr 35 min', '1 hr 34 min',
       '1 hr 32 min', '2 hr 12 min', '1 hr 36 min', '1 hr 18 min',
       '1 hr 49 min', '1 hr 25 min', '1 hr 42 min', '1 hr 57 min',
       '1 hr 28 min', '1 hr 51 min', '1 hr 15 min', '1 hr 17 min',
       '2 hr 15 min', '1 hr 20 min', '1 hr 12 min', '1 hr 40 min',
       '1 hr 11 min', '1 hr 16 min', '1 hr 58 min', '2 hr 20 min',
       '1 hr 53 min', '2 hr 16 min', '2 hr 19 min', '2 hr 10 min',
       '1 hr 50 min', '1 hr 47 min', '1 hr 48 min', '1 hr 13 min',
       '2 hr 11 min', '1 hr 10 min', '1 hr 52 min', '1 hr 29 min',
       '1 hr 56 min', '2 hr 41 min', '2 hr 40 min', '2 hr 21 min',
       '2 hr 33 min', '2 hr 32 min', '2 hr 28 min', '2 hr 43 min',
       '1 hr per ep', '2 hr 35 min', '1 hr 54 min', '2 hr 27 min',
       '2 hr 29 min', '2 hr 30 min', '2 hr 48 min', '2 hr 17 min',
       '2 hr 14 min', '2 hr 47 min', '2 hr 31 min', '9 hr 14 min',
       '2 hr 18 min', '3 hr 34 min'], dtype=object)

In [ ]:
np.sort(df['duration'].apply(lambda x : len(x)).unique())

array([ 4,  5,  6,  7, 10, 11, 12, 13, 17, 18])

In [ ]:
# check unique value of each pattern

find_unique_pattern('duration')

length of string = 4 , duration = 2 hr
length of string = 5 , duration = 6 min
length of string = 6 , duration = 24 min
length of string = 7 , duration = Unknown
length of string = 10 , duration = 2 hr 4 min
length of string = 11 , duration = 1 hr 55 min
length of string = 12 , duration = 4 min per ep
length of string = 13 , duration = 24 min per ep
length of string = 17 , duration = 1 hr 5 min per ep
length of string = 18 , duration = 1 hr 17 min per ep

In [ ]:
# create funtion to extract minutes from duration columns
def extract_min(string):
    text = string.split()
    mins = 0
    for t in range(len(text)):
        if text[t] == 'hr':
            mins += int(text[t-1])*60
        elif text[t] == 'min':
            mins += int(text[t-1])
        elif text[t] == 'sec':
            mins = 0
        elif text[t] == 'unknown':
            mins = None
        else : pass
    return mins

In [ ]:
# test
extract_min('24 hr')

1440

In [ ]:
df['duration'].apply(lambda x : extract_min(x)).describe()

count    24063.000000
mean        21.759174
std         26.514481
min          0.000000
25%          4.000000
50%         16.000000
75%         25.000000
max       1440.000000
Name: duration, dtype: float64

In [ ]:
df['duration'] = df['duration'].apply(lambda x : extract_min(x))
df['duration']

<ipython-input-93-3c3d2d9d45d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['duration'] = df['duration'].apply(lambda x : extract_min(x))

0         24
1        115
2         24
3         25
4         23
        ...
24385      0
24386      5
24388      2
24389      0
24390     20
Name: duration, Length: 24063, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24063 entries, 0 to 24390
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             24063 non-null  int64
 1   url            24063 non-null  object
 2   img            24063 non-null  object
 3   title          24063 non-null  object
 4   title_english  24063 non-null  object
 5   type           24063 non-null  object
 6   episode        23361 non-null  float64
 7   status         24063 non-null  object
 8   aired          23047 non-null  object
 9   duration       24063 non-null  int64
 10  rating         24063 non-null  object
 11  score          15026 non-null  float64
 12  score_by       15026 non-null  float64
 13  member         24063 non-null  int64
 14  favorite       24063 non-null  int64
 15  studio         24063 non-null  object
 16  genre          24063 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 3.3+ MB

Genre column

- 1 anime can have multiple genre
- create dimension table to contain genre id and anime id with genre

In [ ]:
df['genre']

0                 ['Action', 'Award Winning', 'Sci-Fi']
1                                  ['Action', 'Sci-Fi']
2                     ['Action', 'Adventure', 'Sci-Fi']
3        ['Action', 'Drama', 'Mystery', 'Supernatural']
4              ['Adventure', 'Fantasy', 'Supernatural']
                              ...
24385                          ['Adventure', 'Fantasy']
24386                                                []
24388                                 ['Slice of Life']
24389                ['Action', 'Adventure', 'Fantasy']
24390                                        ['Hentai']
Name: genre, Length: 24063, dtype: object

In [ ]:
# remove ', [, ] from genre column

df['genre'] = df['genre'].apply(lambda x : x.translate({ord(i): None for i in '\]\'\['}))
df['genre']

<ipython-input-96-55f88a5c07b9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genre'] = df['genre'].apply(lambda x : x.translate({ord(i): None for i in '\]\'\['}))

0               Action, Award Winning, Sci-Fi
1                              Action, Sci-Fi
2                   Action, Adventure, Sci-Fi
3        Action, Drama, Mystery, Supernatural
4            Adventure, Fantasy, Supernatural
                         ...
24385                      Adventure, Fantasy
24386
24388                           Slice of Life
24389              Action, Adventure, Fantasy
24390                                  Hentai
Name: genre, Length: 24063, dtype: object

In [ ]:
# create a genre df

df_genre = df['genre'].str.split(', ', expand=True).reset_index()
df_genre

,index,0,1,2,3,4,5,6,7,8,9,10
0,0,Action,Award Winning,Sci-Fi,None,None,None,None,None,None,None,None
1,1,Action,Sci-Fi,None,None,None,None,None,None,None,None,None
2,2,Action,Adventure,Sci-Fi,None,None,None,None,None,None,None,None
3,3,Action,Drama,Mystery,Supernatural,None,None,None,None,None,None,None
4,4,Adventure,Fantasy,Supernatural,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
24058,24385,Adventure,Fantasy,None,None,None,None,None,None,None,None,None
24059,24386,,None,None,None,None,None,None,None,None,None,None
24060,24388,Slice of Life,None,None,None,None,None,None,None,None,None,None
24061,24389,Action,Adventure,Fantasy,None,None,None,None,None,None,None,None
24062,24390,Hentai,None,None,None,None,None,None,None,None,None,None

In [ ]:
# replace '' with None

df_genre = df_genre.replace('', None)

In [ ]:
# find all unique genre

unique_genre = df_genre.melt(id_vars='index')['value'].unique()
unique_genre

array(['Action', 'Adventure', 'Sports', 'Comedy', 'Drama', 'Avant Garde',
       'Award Winning', 'Sci-Fi', 'Hentai', 'Horror', 'Boys Love',
       'Mystery', 'Fantasy', 'Ecchi', 'Slice of Life', 'Romance',
       'Suspense', 'Supernatural', 'Girls Love', 'Erotica', 'Gourmet',
       None], dtype=object)

In [ ]:
# create genre table

genre_df = pd.DataFrame(unique_genre, columns = ['genre'])
genre_df['id'] = genre_df.index + 1
genre_df = genre_df[['id', 'genre']]
genre_df

    id          genre
0    1         Action
1    2      Adventure
2    3         Sports
3    4         Comedy
4    5          Drama
5    6    Avant Garde
6    7  Award Winning
7    8         Sci-Fi
8    9         Hentai
9   10         Horror
10  11      Boys Love
11  12        Mystery
12  13        Fantasy
13  14          Ecchi
14  15  Slice of Life
15  16        Romance
16  17       Suspense
17  18   Supernatural
18  19     Girls Love
19  20        Erotica
20  21        Gourmet
21  22           None

In [ ]:
id_genre = df[['id']].reset_index()
id_genre = id_genre.merge(df_genre, left_on='index', right_on='index')
id_genre = id_genre.drop(columns = ['index'])
id_genre

,id,0,1,2,3,4,5,6,7,8,9,10
0,1,Action,Award Winning,Sci-Fi,None,None,None,None,None,None,None,None
1,5,Action,Sci-Fi,None,None,None,None,None,None,None,None,None
2,6,Action,Adventure,Sci-Fi,None,None,None,None,None,None,None,None
3,7,Action,Drama,Mystery,Supernatural,None,None,None,None,None,None,None
4,8,Adventure,Fantasy,Supernatural,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
24058,54433,Adventure,Fantasy,None,None,None,None,None,None,None,None,None
24059,54434,Adventure,None,None,None,None,None,None,None,None,None,None
24060,54436,Slice of Life,None,None,None,None,None,None,None,None,None,None
24061,54437,Action,Adventure,Fantasy,None,None,None,None,None,None,None,None
24062,54438,Hentai,None,None,None,None,None,None,None,None,None,None

In [ ]:
id_genre = id_genre.melt(id_vars='id').dropna().drop(columns = ['variable']).reset_index(drop = True)
id_genre

          id         value
0          1        Action
1          5        Action
2          6        Action
3          7        Action
4          8     Adventure
...      ...           ...
42343  48766        Sports
42344    998         Ecchi
42345  48766  Supernatural
42346  48766      Suspense
42347  48766         Ecchi

[42348 rows x 2 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24063 entries, 0 to 24390
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             24063 non-null  int64
 1   url            24063 non-null  object
 2   img            24063 non-null  object
 3   title          24063 non-null  object
 4   title_english  24063 non-null  object
 5   type           24063 non-null  object
 6   episode        23361 non-null  float64
 7   status         24063 non-null  object
 8   aired          23047 non-null  object
 9   duration       24063 non-null  int64
 10  rating         24063 non-null  object
 11  score          15026 non-null  float64
 12  score_by       15026 non-null  float64
 13  member         24063 non-null  int64
 14  favorite       24063 non-null  int64
 15  studio         24063 non-null  object
 16  genre          24063 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 3.3+ MB

In [ ]:
# write to csv
df.to_csv('myanimelist_prep.csv')

In [ ]:
id_genre.to_csv('id_genre.csv')