# Book rental shop

## Input
- Book types and price
    1. novel: 50 thb
    2. documentary: 30 thb
    3. journey: 40 thb
    4. comic: 20 thb
- Book price input: 50 30 40 20
- Book types rent quantity in: Mon Tue Wed Thu Fri
    - novel rent quantity: 20 50 10 15 20
    - documentary rent quantity: 30 40 20 65 35
    - journey rent quantity: 75 35 42 70 45
    - comic rent quantity: 40 25 35 22 55

## Output
First line: Most rent days and quantities
- Thu 172

Seconds line: Total rent prices for each day
- 5700 5400 3480 5940 4950

In [ ]:
# Library

import pandas as pd
import numpy as np

In [ ]:
# Create a dictionary of book types and prices

## input

book_price_in = "50 30 40 20" 

## create a book prices dataframe

list_price = list(map(int, book_price_in.split())) # convert string to int and stored in list
list_book = ["novel", "documentary", "journey", "comic"]
dict_book = { list_book[i] : list_price[i] for i in range(0, len(list_book))}
df_book = pd.DataFrame(dict_book, index = [0])

print(df_book)

   novel  documentary  journey  comic
0     50           30       40     20

In [ ]:
# Create a dataframe of a book's rental quantity in a week

## create read input quantity function

def read_qty(book, qty) :
    book_qty = list(map(int, qty.split())) # convert string to int and stored in list
    dict_qty = {book : book_qty}
    return dict_qty

## input

novel_qty_in = "20 50 10 15 20"
docu_qty_in = "30 40 20 65 35"
jour_qty_in = "75 35 42 70 45"
comic_qty_in = "40 25 35 22 55"

## store input to dictionary

dict_qty = {}
dict_qty.update(read_qty('novel', novel_qty_in))
dict_qty.update(read_qty('documentary', docu_qty_in))
dict_qty.update(read_qty('journey', jour_qty_in))
dict_qty.update(read_qty('comic', comic_qty_in))
dict_qty['total'] = list(map(sum, zip(*dict_qty.values()))) #  insert column of total rent in each day 

df_qty = pd.DataFrame(dict_qty) # create dataframe

days = ["Mon", "Tue", "Wed", "Thu", "Fri"] # insert days column to dataframe
df_qty.insert(loc = 0, column = 'days', value = days) 

print(df_qty)

  days  novel  documentary  journey  comic  total
0  Mon     20           30       75     40    165
1  Tue     50           40       35     25    150
2  Wed     10           20       42     35    107
3  Thu     15           65       70     22    172
4  Fri     20           35       45     55    155

In [ ]:
# Create book prices dataframe

df_price = df_qty.iloc[:, 1:5]*list_price
df_price['total'] = df_price.sum(axis = 1)
df_price.insert(loc = 0, column = 'days', value = days)  # insert days column to dataframe

print(df_price)

  days  novel  documentary  journey  comic  total
0  Mon   1000          900     3000    800   5700
1  Tue   2500         1200     1400    500   5600
2  Wed    500          600     1680    700   3480
3  Thu    750         1950     2800    440   5940
4  Fri   1000         1050     1800   1100   4950

In [ ]:
# Find the most rent day and total rent prices in each day

## most rent day and it's quantity

df_most_rent = df_qty[['days', 'total']].loc[df_qty['total'].idxmax()]
print(df_most_rent['days'], df_most_rent['total']) 

## total rent prices in each day

df_price = df_qty.iloc[:, 1:5]*list_price
df_price['total'] = df_price.sum(axis = 1)
str_price = ""

for i in range(0, 5) :
    str_price = str_price + str(df_price.iloc[i, 4]) + ' '

print(str_price)

Thu 172
5700 5600 3480 5940 4950